<p>
  my-profile works!
</p>
<div class="row">
    <div class="col-3">
        <div class="text-center">
          <div class="border border-warning">
            <img src="../../assets/images/image1.jpg" class="rounded-circle" alt="this is 200*200 image">
          </div>
          <h1>Name</h1>
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>

        </div>
        <br>
        <table class="table">
          <tr><button type="button" class="btn-success btn-lg btn-block" >Edit Profile</button></tr>
          <tr><button type="button" class="btn-success btn-lg btn-block">Order list</button></tr>
          <tr><button type="button" class="btn-success btn-lg btn-block">Put Order</button></tr>

        </table>
    </div>
    <div class="col-9">
    <form>

    </form>

      bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
    </div>
  </div>
