
<div class="container-fluid">
    <h1>Order list</h1>
    <table class="table">

        <tr class="thead-dark">
            <th>Date</th>
            <th>Product</th>
            <th>unit price</th>
            <th>Quantiy </th>
            <th>Order Price</th>
            <th>Stage</th>
            
        </tr>


        <tr *ngFor="let order of orders">
            <td>{{order.create_date}}</td>
            <td>
                    <div  *ngFor="let item of order.orderItems">{{item.product.productName}}</div>        
            </td>
            <td><div style="text-align:right" *ngFor="let item of order.orderItems">{{item.product.unitPrize|number:'1.2-2'}} </div></td>
            <td style="text-align:right"><div  *ngFor="let item of order.orderItems">{{item.quntity}} </div></td>
            <td><div style="text-align:right"  *ngFor="let item of order.orderItems">{{item.product.unitPrize*item.quntity|number:'1.2-2'}}</div></td>
            <td style="text-align:center">
                <select class="custom-select" id="inputGroupSelect02" [value]="order.state" (change)="order.state = selectElem.value;"  #selectElem disabled>
                    <option [value]="0" selected>pending...</option>
                    <option [value]="1">Approved</option>
                    <option [value]="2">Production</option>
                    <option [value]="3">Delivery</option>
                    <option [value]="4">Finished</option>
                </select>
            </td>

        </tr>

    </table>


</div>