
.container-fluid{
    
    height:580px; 
    background-color: #80CBC4;

}
.form-signin input[type="text"]
{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-walls
{
    
    align-items: center;
    margin-left: 464px;
    margin-right: -453px;
    margin-top: 10px;
    background-color: rgb(136, 192, 238);
 
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

