<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="account-walls">
                <h1 class="text-center">Log in</h1>
                <img class="profile-img" src="../../assets/images/prof.png" alt="this is image">
                <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">

                    <div class="alert alert-danger" role="alert" *ngIf="!isLoginSuccess">
                        User login failed
                    </div>
                    <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">Remember me</label>


                    <button class="btn btn-lg btn-success btn-block" (click)="onClick()">Create an account </button>

                </form>

            </div>

        </div>
    </div>
</div>