<div class="container">
    <div class="alert alert-success" role="alert" *ngIf="isLoginSuccess">
        Registration success. Please login to the system by using your username and password.
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="isLoginFail">
        Registation Failed.
    </div>

    <h2>Registration Form</h2>

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

        <div class="form-group">
            <label class="col-md-4 control-label">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" name="firstName" ngModel required minlength="4" #firstName="ngModel">
            <div *ngIf=" firstName.errors && (firstName.dirty ||firstName.toched || isRegFormSubmited)" class="alert alert-danger">
                <div [hidden]="!firstName.errors.required">
                    first name is required
                </div>
                <div [hidden]="!firstName.errors.minlength">
                    Please enter better name
                </div>

            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label>
            <input type="text" id="lastName" placeholder="Last Name" class="form-control" name="lastName" ngModel required #lastName="ngModel">
            <div *ngIf="lastName.errors && (lastName.dirty ||lastName.toched || isRegFormSubmited)" class="alert alert-danger">
                <div>
                    last Name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Email</label>
            <input type="email" id="email" placeholder="Email" class="form-control" name="email" ngModel required #email="ngModel">
            <div *ngIf="email.errors && (email.dirty ||email.toched || isRegFormSubmited)" class="alert alert-danger">
                    <div>
                       email is required
                    </div>
                </div>
        </div>

        <div class="form-group">
            <label for="userName" class="col-sm-3 control-label">User Name</label>
            <input type="text" id="userName" placeholder="User Name" class="form-control" name="userName" ngModel required #userName="ngModel">
            <div *ngIf="userName.errors && (userName.dirty ||userName.toched || isRegFormSubmited)" class="alert alert-danger">
                    <div>
                       userName is required
                    </div>
                </div>
        </div>


        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <input type="password" id="password" placeholder="Password" class="form-control" name="password" ngModel required #password="ngModel">
        </div>


        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Confirm Password</label>
            <input type="password" id="cpassword" placeholder="Confirm Password" class="form-control" name="cpassword" ngModel required
#cpassword="ngModel">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Contact Number</label>
            <input type="text" id="contactNumber" placeholder="Contact Number" class="form-control" name="contactNo" ngModel required pattern="[0-9]*" minlength="10" maxlength="10"
                #contactNo="ngModel">
                <div *ngIf=" contactNo.errors && (contactNo.dirty ||contactNo.toched || isRegFormSubmited)" class="alert alert-danger">
                        <div [hidden]="!contactNo.errors.required">
                            contact no is required
                        </div>
                        <div [hidden]="!contactNo.errors.pattern">
                            Don't enter letters
                        </div>
                        <div [hidden]="!contactNo.errors.minlength">
                                Please enter valid number
                            </div>
        
                    </div>
        </div>

        <div class="form-group">
            <label for="Upload photo">Upload photo</label>
            <input id="Upload photo" name="Upload photo" class="input-file" type="file" name="photo" ngModel  #photo="ngModel">
        </div>

        <div class="form-group">
            <label for="NIC" class="col-sm-3 control-label">NIC Number</label>
            <input type="text" id="NIC" placeholder="NIC" class="form-control" name="NIC" ngModel required #NIC="ngModel">
        </div>



        <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Address</label>
            <input type="text" id="address" placeholder="Address" class="form-control" name="address" ngModel required #address="ngModel">
        </div>


        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
            <input type="date" id="birthDate" class="form-control" name="dateOfBirth" ngModel  #dateOfBirth="ngModel">
        </div>


        <!-- <div class="form-group">
            <label for="country" class="col-sm-3 control-label">User Role</label>
            <select id="country" class="form-control" name="userRole" [(ngModel)]="user.userRole">
                <option value="0">Customer</option>
                <option value="1">Admin</option>
            </select>
        </div> -->

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">I accept
                        <a href="#">terms</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>

    </form>
</div>