<div class="container" style="border:ridge">


  <div class="row">
    <div class="col-sm-4">
      <img class="card-img-top" src="../../assets/images/biscuit (7).jpg" alt="Card image cap" style="border:ridge">
    </div>
    <div class="col-sm-8" *ngIf="product">

      <div class="row">
        <div class="col-sm-8">
          <h1>Name:{{product.productName}}</h1>
          <small>{{product.productType}} range</small>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              this space
               is for ratings
            </div>
          </div>
        </div>
      </div>
      <hr class="bg-danger">
      <h1>Ingredient details</h1>
      <div *ngFor="let item of product.ingredient">
        
        <ul>
          <li>{{item.value}}</li>

        </ul>
      </div>
      <hr class="bg-danger">


      <div class="row">
        <div class="col-sm-4">

          <p>Prize
            <span>
              <h1>Rs {{product.unitPrize * quntity  | number : '1.2-2' }}</h1>
            </span>
          </p>
        </div>
        <div class="col-sm-4">

          <p>Quntity
            <span>
                <select class="form-control" [(ngModel)]="quntity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            </span>
          </p>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-danger" (click)="addToCart(product, quntity)">
            <h1>Put Order</h1>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>