<div class="container-fluid">
    <h1>Order list</h1>
    <table class="table">

        <tr class="thead-dark">
            <th>Date</th>
            
            <th>Customer Name</th>
            <th>Product</th>
            <th>unit price</th>
            <th>Quantiy </th>
            <th>Order Price</th>
            <th>Stage</th>
            
        </tr>


        <tr *ngFor="let order of orders">
            <td>{{order.create_date}}</td>
            <td>{{order.userId.firstName}} {{order.userId.lastName}}</td>
            <td>
                <div >
                    <div  *ngFor="let item of order.orderItems">{{item.product.productName}}</div>
                    
                </div>
                <!-- <div class="row">
                    <div class="col-sm-5">
                        <img class="card-img-top" src="../../assets/images/biscuit (7).jpg" alt="Card image cap" style="width:50px;height:70px;">
                    </div>
                    <div class="col-sm-7">
                        {{1+2}}
                        <br>
                        <small>{{1+8}}</small>
                    </div>
                </div> -->
            </td>


            <td><div style="text-align:right" *ngFor="let item of order.orderItems">{{item.product.unitPrize|number:'1.2-2'}} </div></td>
            <td style="text-align:right"><div  *ngFor="let item of order.orderItems">{{item.quntity}} </div></td>
            <td><div style="text-align:right"  *ngFor="let item of order.orderItems">{{item.product.unitPrize*item.quntity|number:'1.2-2'}}</div></td>
            <td  style="text-align:right">
                <select class="col-auto custom-select" id="inputGroupSelect02">
                    <option selected>Pending...</option>
                    <option value="1">Approved</option>
                    <option value="2">Production</option>
                    <option value="3">Delivery</option>
                    <option value="3">Finished</option>
                </select>
                <button class="col-auto btn btn-primary">save</button>
            </td>

        </tr>

    </table>

</div>