<div class="container-fluid">
    <div>
        <table class="table col-sm-12">
            <thead class="thead-dark">
            <tr>
              <th class="col-sm-7" data-field="name">Name</th>
              <th class="col-sm-1" data-field="name">Edit</th>
              <th class="col-sm-1" data-field="name">View Detail</th>
              <th class="col-sm-1" data-field="name">Delete</th>
            </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let customer of customers">
                  
                <td class="col-sm-7">{{customer.firstName|filter:true}} {{customer.lastName|filter:true}}</td>
                <td class="col-sm-1">
                    <a >
                        <button class="btn btn-info" (click)="editDetail(customer)">Edit</button>
                    </a>
                  </td>
                <td class="col-sm-1">
                  <a >
                      <button class="btn btn-info" (click)="showDetail(customer)">View Detail</button>
                  </a>
                </td>
                <td class="col-sm-1">
                  <a>
                      <button class="btn btn-info" (click)="delete(customer)">Delete</button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
  
    </div>
  </div>