<div class="container" style="background-color:#B2DFDB">
    <div>
        <table class="col-sm-12">
            <thead>
            <tr>
              <th class="col-sm-7" data-field="name">Name</th>
              <th class="col-sm-1" data-field="name">Edit</th>
              <th class="col-sm-1" data-field="name">View Detail</th>
              <th class="col-sm-1" data-field="name">Delete</th>
            </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let customer of customers">
                  
                <td class="col-sm-7">{{customer.userName}}</td>
                <td class="col-sm-1">
                    <a >
                        <button class="btn btn-default" (click)="editDetail(customer)">Edit</button>
                    </a>
                  </td>
                <td class="col-sm-1">
                  <a >
                      <button class="btn btn-default" (click)="showDetail(customer)">View Detail</button>
                  </a>
                </td>
                <td class="col-sm-1">
                  <a>
                    <i class="glyphicon glyphicon-trash">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
  
    </div>
  </div>