<div class="row" style="width:100%">
  <div class="col-sm-3">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control w-75" type="search" ngModel name="searchText" #searchText="ngModel" placeholder="Search by Name"
        aria-label="Search">
      <button (click)="fiterByName(searchText.value)" class="btn btn-primary w-25" type="submit">Search</button>
    </form>

    <ul class="list-group">
      <li (click)="filterByType('SWEET')" class="list-group-item d-flex justify-content-between align-items-center">
        Sweet Range
        <span class="badge badge-primary badge-pill">{{sweetCount}}</span>
      </li>
      <li (click)="filterByType('PUFF')" class="list-group-item d-flex justify-content-between align-items-center">
        Puff Range
        <span class="badge badge-primary badge-pill">3</span>
      </li>
      <li (click)="filterByType('CREAM')" class="list-group-item d-flex justify-content-between align-items-center">
        Cream Range
        <span class="badge badge-primary badge-pill">3</span>
      </li>
      <li (click)="filterByType('CRACKER')" class="list-group-item d-flex justify-content-between align-items-center">
        Cracker Range
        <span class="badge badge-primary badge-pill">3</span>
      </li>
      <li (click)="filterByType('SAVOURY')" class="list-group-item d-flex justify-content-between align-items-center">
        Savoury Range
        <span class="badge badge-primary badge-pill">3</span>
      </li>
      <li (click)="filterByType('GIFT')" class="list-group-item d-flex justify-content-between align-items-center">
        Gift Range
        <span class="badge badge-primary badge-pill">3</span>
      </li>
      <li (click)="filterByType('HEALTH')" class="list-group-item d-flex justify-content-between align-items-center">
        Health & Wellness Range
        <span class="badge badge-primary badge-pill">3</span>
      </li>
    </ul>
  </div>

  <div class="col-sm-9">
    <h2>{{rangeTitle}}</h2>
    <div class="row">



      <div class="card-group col-sm-4" *ngFor="let product of products" style="margin-top:12px;width:100%;">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/biscuit (7).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-primary">{{product.productName}}</h4>
            <p class="card-text">
              <small class="text-muted">this is in brief about {{product.productName}} and if you want to see more detail please click below link</small>
            </p>
            <a>
              <button class="btn btn-primary" (click)="showDetail(product)">+See More</button>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>