
<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading"><h2 style="font-family:lato;text-align:center;">Company Overview</h2></div>
    <div class="panel-body">
      <p class="para">
        <img class="company-image" src="../../assets/images/company-overview.jpg" alt="old"> 
        super Serve  is the pioneer biscuit manufacturer of Sri Lanka. Incorporated 60 years ago by the visionary founder Angulugaha
        Gamage Hinnyappuhamy, super Serve Biscuit Manufactories (Private) Limited, stands tall as one of Sri Lanka’s most trusted
        and respected brands.
        <br> super Serve manufactures a range of crackers, cookies and wafers, sold in over 100,000 stores in Sri Lanka. Our global
        reach extends to more than 35 countries across 5 continents. We produce 25 million packs of biscuits every month
        in our state-of-the-art manufacturing facility under stringent hygienic conditions. super Serve is an ISO 9001, ISO 14001,
        ISO 22000 and OHSAS 18001 certified company. We have won Sri Lanka’s prestigious National Quality Award on multiple
        occasions.
        <br> super Serve is a privately held limited liability company and our team consists of over 1,250 employees. The company
        is managed by a team of professionals who head key disciplines. The board of directors consists of second and third
        generation family members of the founder. Mr. A G R Samaraweera, the current Chairman, has led the company for the
        past four decades, making super Serve a household name in Sri Lanka.
      </p>
    </div>
    <div class="panel-footer"><hr style="background-color:rgb(14, 89, 173)"></div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading"><h3 style="font-family:lato;text-align:center;">Founder:Mr.Sachith chathuranga Nanayakkara</h3></div>
      <div class="panel-body">
        <p class="para">
          <img class="owner-image" src="../../assets/images/my.jpg" alt="old"> 
          Sachith chathuranga Nanayakkara is the pioneer biscuit manufacturer of Sri Lanka. Incorporated 60 years ago by the visionary founder Angulugaha
          Gamage Hinnyappuhamy, Sachith chathuranga Nanayakkara Biscuit Manufactories (Private) Limited, stands tall as one of Sri Lanka’s most trusted
          and respected brands.
          <br> Sachith chathuranga Nanayakkara manufactures a range of crackers, cookies and wafers, sold in over 100,000 stores in Sri Lanka. Our global
          reach extends to more than 35 countries across 5 continents. We produce 25 million packs of biscuits every month
          in our state-of-the-art manufacturing facility under stringent hygienic conditions. Sachith chathuranga Nanayakkara is an ISO 9001, ISO 14001,
          ISO 22000 and OHSAS 18001 certified company. We have won Sri Lanka’s prestigious National Quality Award on multiple
          occasions.
          <br> Sachith chathuranga Nanayakkara is a privately held limited liability company and our team consists of over 1,250 employees. The company
          is managed by a team of professionals who head key disciplines. The board of directors consists of second and third
          generation family members of the founder. Mr. A G R Samaraweera, the current Chairman, has led the company for the
          past four decades, making Sachith chathuranga Nanayakkara a household name in Sri Lanka.
        </p>
      </div>
      <div class="panel-footer"><hr style="background-color:rgb(14, 89, 173)"></div>
    </div>

</div>