<div class="page-header">
    <h1>Example Page Header</h1>      
  </div>
  
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CPD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/me" routerLinkActive="active">My profile</a>
      </li>
      
    </ul>
    <a class="btn btn-success my-2 my-sm-0 mr-3" routerLink="/register" routerLinkActive="active">Signup</a>
    <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" routerLinkActive="active" >Login</a>
  </div>
</nav>


<router-outlet></router-outlet>