<div class="row">
  <div class="col-sm-2" id="side-bar" >
    <ul class="list-group">
      <li class="list-group-item">Sweet Range <span class="badge">12</span></li>
      <li class="list-group-item">Gift Range<span class="badge">12</span></li>
      <li class="list-group-item">Health & Wellness<span class="badge">12</span></li>
      <li class="list-group-item">Savory Range<span class="badge">12</span></li>
      <li class="list-group-item">Puff Range<span class="badge">12</span></li>
      <li class="list-group-item">Cream Range<span class="badge">12</span></li>
      <li class="list-group-item">Cracker Range<span class="badge">12</span></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>    
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
  </div>
  <div class="col-sm-10" style="background-color:rgb(224, 115, 26);">
      <div class="row">
        <div class="col-sm-4" style="background-color:rgb(228, 25, 92);">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="../../assets/images/biscuit (2).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4" style="background-color:rgb(151, 21, 64);">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4" style="background-color:rgb(202, 25, 84);">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-4" style="background-color:rgb(228, 25, 92);">
              <div class="card" style="width: 15rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
          <div class="col-sm-4" style="background-color:rgb(238, 13, 88);">
              <div class="card" style="width: 15rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
          <div class="col-sm-4" style="background-color:rgb(202, 25, 84);">
              <div class="card" style="width: 15rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
        </div>
      <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
    
  </div>
 
</div>
  
 