<p> </p>
<div class="container-fluid"  (click)="onClick()">
  <div class="row img-main-bg">
    <!-- <div class="col-md-3">
      <form class="form-inline my-lg-0">
        <input class="form-control w-75" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary w-25" type="submit">Search</button>
      </form>
      <p> </p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Sweet Range
          <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Puff Range
          <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cream Range
          <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cracker Range
          <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Savoury Range
          <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Gift Range
          <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Health & Wellness Range
          <span class="badge badge-primary badge-pill">3</span>
        </li>
      </ul>
    </div> -->

    <div class="col-md-4">
      <h4 ></h4>
      <p> </p>



        <div class="row">
        <div class="col-md-4">

            <div (click)="toOverview()" class="grow box-1">
             
                <h4>About Us</h4>
                <p>This is about our company discription for you </p>
            </div>
        </div>
        <div class="col-md-4">
            <div  (click)="toDetails()" class="grow box-2">
                <h4>Product Details</h4>
                <p>This is our company Product details for you</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grow box-3" (click)="toJoin()">
                <h4>Join With Us</h4>
                <p>Please joint with us to reacive delisious service </p>
            </div>
        </div>        
      </div>

    </div>
    <div class="col-md-8">
        <h4 style="margin-top: 20px;">Welcome to CPD System!</h4>
        <p>Just One click for your delisious choice to your table  </p>
        <div class="row">
            <div class="col-md-6">
                <div >
                </div>
            </div>
            <div class="col-md-5">
                <div class="grow box-4" style="font-family:fantasy">
                    <h4 style="text-align:right">Contact Us</h4>
                    <p style="font-family:cursive;text-align:right;">Sachith Chathuranga Nanayakkara<br>
                      Owner<br>
                      Super Serve<br>
                      Hand made biscuit company<br>
                      Rathna,<br>
                      Eleboda,<br>
                      Gintota<br>
                      Email:superserver@cpdlk<br>
                      fax:01714565656<br>
                      Tel:0711460669<br>
            </div>
            <div class="col-md-1">
                <div class="box-4">
                </div>
            </div>
          </div>
      </div>



  </div>
</div>



    <!-- <div class="col-sm-9" style="background-color:rgb(246, 248, 248)">
        <div class="card card-inverse" style="width:100%;height:560px">
            <img class="card-img" src="../../assets/images/biscuit (2).jpg" alt="Card image"  style="height:560px">
            <div class="card-img-overlay">
              <h4 class="card-title">Customer Product Delivery System</h4>
              
              <p class="card-text">Just A  Click To Table</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <h3 class="card-text footer" style="text-align:end;" >Contact Us</h3>
              <p class="card-text footer"  >Tel:0711460669</p>
            </div>
          </div>
          <div class="card card-inverse" >

            </div>   
        
    </div> -->