<h2>Add New Product</h2>
<div class="container" >
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value)">

    <div class="form-group">
      <label class="col-md-4 control-label text-primary">Product Name</label>
      <input type="text" id="productName" placeholder="Product Name" class="form-control" name="productName" required [(ngModel)]=product.productName>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label text-primary">Quantity</label>
      <input type="text" id="quantity" placeholder="Quantity" class="form-control" name="quantity" required [(ngModel)]=product.quantity>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label text-primary">Qualitity</label>
      <input type="text" id="qualitity" placeholder="Qualitity" class="form-control" name="quality" required  [(ngModel)]=product.quality>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label text-primary">Unit Prize</label>
      <input type="text" id="unitPrize" placeholder="Unit Prize" class="form-control" name="unitPrize" required [(ngModel)]=product.unitPrize>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label text-primary">Ingrediant</label>
      <input type="text" id="ingrediant" placeholder="Ingrediant" class="form-control" name="ingredient" required  [(ngModel)]=product.ingredient>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label text-primary">Product Type</label>
      <input type="text" id="productType" placeholder="Product Type" class="form-control" name="productType" required  [(ngModel)]=product.productType>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label text-primary">Comment ID</label>
      <input type="text" id="commentID" placeholder="Comment ID" class="form-control" name="commentID" required  [(ngModel)]=product.commentID>
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>

    </div>
  </form>
</div>